{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules" : {
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "number-leading-zero": "never",
    "number-max-precision": 16,
    "font-family-name-quotes": "always-unless-keyword",
    "function-url-quotes": "always",
    "selector-attribute-quotes": "always",
    "string-quotes": "single",
    "order/properties-order": [
      "display",
      "box-sizing",
      "position",
      "top",
      "right",
      "bottom",
      "left",

      "flex-flow",
      "flex-direction",
      "flex-wrap",
      "justify-content",
      "align-items",
      "align-content",
      "flex",
      "flex-grow",
      "flex-shrink",
      "flex-basis",
      "align-self",
      "order",

      "float",
      "clear",

      "width",
      "min-width",
      "max-width",

      "height",
      "min-height",
      "max-height",

      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",

      "border",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-width",
      "border-top-width",
      "border-right-width",
      "border-bottom-width",
      "border-left-width",

      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",

      "font-size",
      "line-height",

      "columns",
      "column-width",
      "column-count",
      "column-gap",
      "column-fill",
      "column-span",
      "column-rule",

      "transform",
      "transform-box",
      "transform-origin",
      "transform-style",

      "transition",
      "transition-delay",
      "transition-duration",
      "transition-property",
      "transition-timing-function",

      "border-style",
      "border-top-style",
      "border-right-style",
      "border-bottom-style",
      "border-left-style",

      "border-color",
      "border-top-color",
      "border-right-color",
      "border-bottom-color",
      "border-left-color",

      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-left-radius",
      "border-bottom-right-radius",

      "outline",
      "outline-color",
      "outline-offset",
      "outline-style",
      "outline-width",

      "font",
      "font-family",
      "src",
      "font-smoothing",
      "font-weight",
      "font-style",
      "font-variant",


      "letter-spacing",
      "list-style",

      "text-align",
      "text-decoration",
      "text-indent",
      "text-overflow",
      "text-rendering",
      "text-shadow",
      "text-transform",
      "text-wrap",
      "text-size-adjust",

      "white-space",
      "word-spacing",

      "color",

      "background",
      "background-attachment",
      "background-clip",
      "background-color",
      "background-image",
      "background-repeat",
      "background-position",
      "background-size",

      "border-collapse",
      "border-spacing",
      "box-shadow",
      "caption-side",
      "content",
      "cursor",
      "empty-cells",
      "opacity",
      "overflow",
      "quotes",
      "speak",
      "table-layout",
      "vertical-align",
      "visibility",
      "z-index"
    ],
  }
}